<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title> CSS Card Hover Effects | Nothing4us</title>
  <link rel="stylesheet" type="text/css" href="/static/style2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <h3>Pie Chart</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p></p>
                        <a href="/chart">Chart</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <h3>FAQ</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>  </p>
                        <a href="/faq">Read More</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <h3>CSV</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p> </p>
                        <a href="/data">Read More</a>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- partial -->
  
</body>
</html>
