<!DOCTYPE html>
<html>
<head>
    <title>Pie Chart</title>
    <link rel="stylesheet" type="text/css" href="/static/style3.css">
</head>
<body>
    <div>
        <nav>
            <ul>
              <li><a href="/chart">Pie Chart</a></li>
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/data">CSV</a></li>
            </ul>
          </nav>
        </div>

    <img src="{{ url_for('static', filename='pie_chart.png') }}" alt="Pie Chart">
</body>
</html>
